@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #3730a3 */

/* indigo-800 */

:root {
    --color: #151b46;
}

.popup {
    transition: all ease-in-out 350ms;
}

* {
    font-family: "Rubik", sans-serif
}

/* body{
    overflow-x: hidden;
} */

.must-be-shadowed {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hero {
    grid-template-areas: "hero";
    max-width: 100vw;
    max-height: 100vh;
}

.hero h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
}

.hero picture {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: hero;
}

.hero p {
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.107);
}

.hero button {
    transition: all ease-in-out 150ms;
}

.hero button:hover {
    transform: scale(1.02);
}

.hero picture img {
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero>div {
    z-index: 2;
    grid-area: hero;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-ver-mas {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.acordeon {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-decoration: none;
    list-style: none;
    transition: all ease-in-out 200ms;
}

.acordeon * {
    transition: all ease-in-out 200ms;
}

.acordeon-container>* {
    transition: all ease-in-out 200ms;
}

#contact-link {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.media-icon {
    transition: all ease-in-out 200ms;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.media-icon:hover {
    transform: scale(1.10);
}

.must-be-floating {
    animation: floatPNG 3s linear infinite;
}

.map {
    animation: float 3s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

iframe {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.description {
    position: relative;
}

.description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgrounds/background.webp');
    background-size: cover;
    background-attachment: fixed;
    /* Aplicar el filtro solo a la imagen de fondo */
}

.description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7d2ff45;
    /* Fondo blanco semitransparente */
}

.contact,
.mobile-menu {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.mobile-menu svg {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.sisisi {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='2000' height='2000' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2000 0L1122.54 0L2000 802.43z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1122.54 0L2000 802.43L2000 930.1999999999999L889.17 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M889.1700000000001 0L2000 930.1999999999999L2000 1444.94L707.8600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M707.8600000000001 0L2000 1444.94L2000 1715.74L289.1400000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L779.28 2000L0 1231.8400000000001z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1231.8400000000001L779.28 2000L832.9499999999999 2000L0 864.7200000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 864.72L832.9499999999999 2000L938.1999999999999 2000L0 381.09000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 381.09000000000015L938.1999999999999 2000L1575.8899999999999 2000L0 269.71000000000015z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='rgba(134%2c 139%2c 199%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 166%2c 218%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

details[open] h3 {
    color: #3730a3;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
    }

    100% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes floatPNG {
    0% {
        /* filter: drop-shadow(0 2px 5px  rgba(0, 0, 0, 0.5)); */
        transform: translatey(0px);
    }

    50% {
        /* filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.1)); */
        transform: translatey(-5px);
    }

    100% {
        /* filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5)); */
        transform: translatey(0px);
    }
}

.animar-letras span {
    opacity: 0;
    animation: aparecer 0.5s ease forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.servicesCHECK {
    background-color: white;
    opacity: 1;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, white 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.final-section,
.services {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1500' preserveAspectRatio='none' viewBox='0 0 2000 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='1440'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='2000' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1006'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1002'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='150' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='630' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    background-repeat: repeat-y;
}


/* ************************************************************************* */
/* Mobile Menu */

/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #1f2937;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #3730a3;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    top: 0;
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    /* background: #5a40b0; */
    padding: 2.5em 1.2em 0;
    font-size: 1.15em;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='450' height='1000' preserveAspectRatio='none' viewBox='0 0 450 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1500%26quot%3b)' fill='none'%3e%3crect width='450' height='1000' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1501%26quot%3b)'%3e%3c/rect%3e%3cpath d='M450 0L444.72 0L450 292.32z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M444.72 0L450 292.32L450 512.8199999999999L279.74 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M279.74 0L450 512.8199999999999L450 713.52L245.27 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M245.27 0L450 713.52L450 766.72L162.63 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1000L3.51 1000L0 671.29z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 671.29L3.51 1000L72.38000000000001 1000L0 460.34z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 460.34000000000003L72.38000000000001 1000L250.73000000000002 1000L0 204.78000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 204.77999999999997L250.73000000000002 1000L257.58000000000004 1000L0 58.50999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1500'%3e%3crect width='450' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-30.56%25' y1='13.75%25' x2='130.56%25' y2='86.25%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1501'%3e%3cstop stop-color='rgba(134%2c 139%2c 199%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(140%2c 145%2c 192%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 166%2c 218%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: white;
}

/* Wrapper for item list */
.bm-item-list {
    color: white;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: transparent;
}


@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(15px);
        /* Puedes ajustar la cantidad de desplazamiento */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeftSlide {
    0% {
        opacity: 0;
        transform: translatex(-35px);
        /* Puedes ajustar la cantidad de desplazamiento */
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

