@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #3730a3 */

/* indigo-800 */

:root {
    --color: #151b46;
}

.popup {
    transition: all ease-in-out 350ms;
}

* {
    font-family: "Rubik", sans-serif
}

/* body{
    overflow-x: hidden;
} */

.must-be-shadowed {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hero {
    grid-template-areas: "hero";
    max-width: 100vw;
    max-height: 100vh;
}

.hero h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
}

.hero picture {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: hero;
}

.hero picture img {
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero>div {
    z-index: 2;
    grid-area: hero;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-ver-mas {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.acordeon {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-decoration: none;
    list-style: none;
    transition: all ease-in-out 200ms;
}

.acordeon * {
    transition: all ease-in-out 200ms;
}

.acordeon-container>* {
    transition: all ease-in-out 200ms;
}

#contact-link {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.media-icon {
    transition: all ease-in-out 200ms;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.media-icon:hover {
    transform: scale(1.10);
}

.must-be-floating {
    animation: floatPNG 3s linear infinite;
}

.map {
    animation: float 3s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

iframe {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.description {
    position: relative;
}

.description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgrounds/background.png');
    background-size: cover;
    /* Aplicar el filtro solo a la imagen de fondo */
}

.description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* Fondo blanco semitransparente */
}

.contact{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.607);
}

.sisisi {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2288%26quot%3b)' fill='none'%3e%3crect width='2000' height='2000' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2289%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2000 0L1414.75 0L2000 123.13z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1414.75 0L2000 123.13L2000 428.65L1313.35 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1313.35 0L2000 428.65L2000 789.02L624.3999999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M624.4000000000001 0L2000 789.02L2000 1375.49L401.5900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L531.45 2000L0 1263.99z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1263.99L531.45 2000L917.6500000000001 2000L0 614.71z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 614.71L917.6500000000001 2000L934.4900000000001 2000L0 294.96000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 294.96000000000004L934.4900000000001 2000L1001.7200000000001 2000L0 195.42000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2288'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2289'%3e%3cstop stop-color='rgba(145%2c 150%2c 215%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 112%2c 177%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 112%2c 177%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(145%2c 150%2c 215%2c 1)' offset='0.9'%3e%3c/stop%3e%3cstop stop-color='rgba(145%2c 150%2c 215%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* Genera las olas del Hero */
.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    z-index: 0;
    overflow: hidden;
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);

}

.waves::before {
    border-radius: 44%;
    background: rgba(255, 255, 255, 1);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(255, 255, 255, 0.5);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

details[open] h3 {
    color: #3730a3;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
    }

    100% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes floatPNG {
    0% {
        /* filter: drop-shadow(0 2px 5px  rgba(0, 0, 0, 0.5)); */
        transform: translatey(0px);
    }

    50% {
        /* filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.1)); */
        transform: translatey(-5px);
    }

    100% {
        /* filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5)); */
        transform: translatey(0px);
    }
}

.animar-letras span {
    opacity: 0;
    animation: aparecer 0.5s ease forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.servicesCHECK {
    background-color: white;
    opacity: 1;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, white 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.final-section, .services {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1500' preserveAspectRatio='none' viewBox='0 0 2000 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='1440' y='1440'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='2000' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1006'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1002'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='150' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='150' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='630' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='30' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='90' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='150' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='210' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='270' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='330' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='390' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='450' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='510' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='570' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='630' stroke='rgba(99%2c 102%2c 241%2c 0.08)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='690' stroke='rgba(99%2c 102%2c 241%2c 0.08)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    background-repeat: repeat-y;
}